# https://searchcode.com/codesearch/view/17052062/
# http://www.sitepoint.com/generate-documentation-with-apigen/
main: Laravel
title: Money
source:
    - src
destination: ../money-man/man
exclude:
    - man
    - vendor
    - tests

accessLevels:
    - public
#    - protected
#    - private

templateTheme: bootstrap
